<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title><%= title  %></title>
</head>
<body>
    <header>
        <div class="head">
            <h2 class="logo opac"><a href="add_post">Daily Journel</a></h2>
            <ul class="nav-menu opac">
                <li class="nav-item"><a href="/Home">Home</a></li>
                <li class="nav-item"><a href="about">About Us</a></li>
                <li class="nav-item"><a href="/Contact">Contact Us</a></li>
            </ul>
        </div>
    </header>
    <main class="content">